  .header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .string {
    display: flex;
    flex-direction: column;
    text-align: center;
    animation: move 4s infinite;
  }

  .greeting {
    position: relative;
    top: 8.6vmin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  .greeting.en {
    color: #fa8231;
    animation-name: white-out-en;
  }

  .greeting.es {
    color: white;
    animation-name: white-out-es;
  }

  .greeting.de {
    color: #c678dd;
    animation-name: white-out-de;
  }

  .greeting.it {
    color: #a9b0bd;
    animation-name: white-out-it;
  }